:root {
  --primary-text-color: #434455;
  --hero-tatle-color: #ffffff;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --background-color: #f4f4fd;
}

body {
  color: var(--primary-text-color);
  background-color: var(--hero-tatle-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
} 

address {
  font-style: normal;
}

.visually-hidden,
.read-only {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip: rect(0 0 0 0);
clip-path: inset(50%);
overflow: hidden;
} 

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 120px auto;
}

/* ================ HEADER ================ */
 .page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  align-items: center;
}  

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo
{
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--accent-color);
}

.logo-part {
color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-item {
} 

.nav-link {
display: block;
padding: 24px 0;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-text-color);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-item {
} 

.contacts-link {
display: block;
padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
color: #404bbf;
}

/* ================ HERO ================ */
.hero {
background-color: var(--title-text-color);  
}
.hero-container {
  display: block;
  padding: 188px 0;
  border-top: 1px solid #e7e9fc;
}

.hero-title {
font-weight: 496px;
margin: 0 auto;
color: var(--hero-tatle-color);
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
}

.hero-button {
display: block;
border: none;
border-radius: 4px;
margin-top: 54px;
margin-left: auto;
margin-right: auto;
background: var(--accent-color);
min-width: 169px;
padding: 16px 31px;
border: transparent;
font-weight: 500;
line-height: 1.5;
color: var(--hero-tatle-color);
font-size: 16px;
letter-spacing: 0.04em;

}
.hero-button:hover,
.hero-button:focus {
background-color: #404BBF;  
}

/* sektion*/

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
}

/* Our principles*/

.principles-list {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 24px;
}

.principles-list-item {
  width: calc(calc(100% - 24px * 3) / 4);
}

.principle-title, 
.team-item-title,
.portfolio-item-title   
{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--title-text-color);
margin-bottom: 8px;
}
.principle-text,
.team-item-text,
.portfolio-item-text,
.footer-text 
{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}
/* Our Team*/
/* .team-list {
}*/
.team-item {
  background-color: var(--hero-tatle-color); 
} 


/* section Our Portfolio */ 

/* Footer */ 
.footer {
background: var(--title-text-color);
}

.footer-logo {
color: var(--accent-color)
}
.footer-logo .logo-part {
  color: var(--background-color);
  }
.footer-text {
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--background-color);
}